.results dd {
	margin-bottom: 16px;
}
.dictionary-list h1 {
	display: inline-block;
	margin-bottom: 16px;
}

.term-title {
	display: inline-block;
	margin-bottom: 10px;
}
.definition-link {
	margin-left: 16px;
	vertical-align: super;
}
