.drug-search {
	margin-top: 20px;

	.radio-selection {
		margin-bottom: 1em;
	}

	.radio {
		margin-top: 1em;
		display: inline-block;
		margin-right: 15px;
	}

	&__input {
		display: inline-block;
		width: 65%;
	}

	.ncids-input {
		width: 100%;
	}

	.button {
		display: inline-block;
		width: 20%;
		margin-right: 1em;
		margin-left: 1em;
		top: -1px;

		@media screen and (max-width: 414px) {
			font-size: 14px;
			width: 24%;
		}
	}
}
