@import "../../../styles/breakpoints";

.drug-search {
	margin-top: 20px;

	.radio-selection {
		margin-bottom: 1em;
	}

	.radio {
		margin-top: 1em;
		display: inline-block;
		margin-right: 15px;
	}

	&__input {
		margin-bottom: 16px;
		display: block;
		width: 100%;
	}

	.ncids-input {
		width: 100%;
	}

	.button {
		margin-right: 0;
		margin-left: 0;
		display: block;
		width: 100%;
	}
}

@include break(medium) {
	.drug-search {
		&__input {
			display: inline-block;
			width: 65%;
		}

		.button {
			display: inline-block;
			width: 20%;
			margin-right: 1em;
			margin-left: 1em;
			top: -1px;
		}
	}
}
